body{
    height: 100%;
    line-height: 1.8;
    background-position: center;
    background-size: cover;
    background-image: url("WAVY.png");
    min-height: 100%;
}

.w3-bar .w3-button {
    padding: 16px;
}

.w3-hover-opacity{
    font-size: 12px;
}
.family,
#object,
#object_accuracy {
    color: green;
    font-family: cursive;
    font-size: 16px;
}

#camera {
    border: 8px groove olive;
    width: 450px;
    height: 400px;
}